@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply cursor-default;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #222;
  }
  ::-webkit-scrollbar-thumb {
    background: #999;
  }
}
